@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("Open-Sans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: local("Cormorant Regular"), local("Cormorant-Regular"),
    url("../fonts/Cormorant-Regular.woff2") format("woff2"),
    url("../fonts/Cormorant-Regular.woff") format("woff"),
    url("../fonts/Cormorant-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --overlay-display: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #151618;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

cite {
  font-style: normal;
}

body {
  font-family: "Cormorant", sans-serif;
  color: #151618;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  position: relative;
}

body::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: var(--overlay-display);
}

.header {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 30px 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: 0;
  padding-bottom: 38px;
}

.logo__link {
  max-width: 74px;
  max-height: 105px;
  overflow: hidden;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.menu__button {
  display: none;
  width: 40px;
  height: 20px;
}

.menu__button span {
  background-color: #000;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 72px;
}

.menu__link {
  text-decoration: none;
  line-height: 25px;
}

.mobile-menu {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  padding-top: 60px;
  z-index: 4;
  display: none;
  transform: translateY(-100%);
}

.mobile-menu__close-button {
  max-width: 20px;
  display: none;
}

.mobile-menu__close-image {
  width: 100%;
}

.mobile-menu__list {
  padding: 0;
  margin: 0 0 60px 0;
  display: flex;
  flex-direction: column;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.menu-information__list {
  font-size: 13px;
  padding: 60px 0;
  font-family: "Open Sans", sans-serif;
  line-height: 18px;
  font-weight: 300;
  margin: 0 30px;
  border-top: 2px solid #f7f2ea;
}

.menu-information__item:not(:last-child) {
  margin-bottom: 35px;
}

.mobile-actions {
  background-color: #f7f2ea;
  padding: 20px 80px;
  height: 60px;
}

.mobile-actions__item:not(:last-child) {
  margin-right: 70px;
}

.mobile-actions__link-icon {
  width: 100%;
}

.user-actions {
  display: flex;
  margin: 0;
  padding: 58px 0;
  align-items: center;
}

.user-actions__item:nth-child(2) {
  margin: 0 100px 0 20px;
}

.user-actions__link {
  max-width: 22px;
  max-height: 22px;
}

.user-actions__link-icon {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1160px) {
  .header__logo {
    margin: 0 60px 0 0;
    padding: 0;
  }
  .user-actions__item:nth-child(2) {
    margin: 0 50px 0 20px;
  }
}

@media screen and (max-width: 1000px) {
  .menu {
    margin-right: 116px;
    padding: 40px 0;
  }
  .menu__item:not(:last-child) {
    margin-right: 58px;
  }
  .user-actions {
    padding: 44px 0;
  }
  .user-actions__item:nth-child(2) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 960px) {
  .header {
    font-size: 16px;
  }
  .header__logo {
    margin-right: 50px;
  }
  .menu {
    margin-right: 50px;
  }
  .menu__item:not(:last-child) {
    margin-right: 45px;
  }
}

@media screen and (max-width: 792px) {
  .menu {
    margin-right: 28px;
  }
}

@media screen and (max-width: 770px) {
  .header {
    position: relative;
  }
  .header__logo {
    margin: 0;
    order: 2;
  }
  .menu {
    order: 1;
    margin: 0;
  }
  .menu__button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .menu__button span {
    height: 2px;
    width: 100%;
  }
  .menu__list {
    display: none;
  }
  .mobile-menu {
    max-width: 426px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    transition: transform 0.5s ease;
  }
  .mobile-menu.mobile-menu__list-open {
    transform: translateY(0%);
  }
  .mobile-menu__close-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu-information__list {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu__item:nth-child(6) {
    margin-bottom: 60px;
  }
  .mobile-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-actions__link {
    display: inline-block;
    width: 22px;
    height: 22px;
  }
  .user-actions {
    order: 3;
    padding: 44px 0;
  }
}

@media screen and (max-width: 610px) {
  .mobile-menu {
    max-width: 360px;
  }
}

@media screen and (max-width: 490px) {
  .header {
    padding: 10px 0;
  }
  .logo__link {
    max-width: 40px;
    max-height: 56px;
  }
  .user-actions {
    padding: 20px 0;
  }
}

@media screen and (max-width: 360px) {
  .mobile-menu__list {
    margin: 0 0 30px 0;
  }
  .menu-information__list {
    padding: 30px 0;
  }
  .user-actions {
    padding: 16px 0;
  }
  .user-actions__item:nth-child(2) {
    margin: 0 20px;
  }
}

/* header */

.preview {
  background-image: url("/assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.preview__info {
  color: #ffffff;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.preview__title {
  font-size: 60px;
  max-width: 790px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 60px;
}

.preview__text {
  max-width: 558px;
  font-weight: 400;
  margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .preview__title {
    max-width: 685px;
  }
}

@media screen and (max-width: 480px) {
  .preview__title {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 10px;
    max-width: 450px;
  }
  .preview__text {
    margin-bottom: 50px;
    max-width: 450px;
  }
}

@media screen and (max-width: 360px) {
  .preview__title {
    font-size: 24px;
    max-width: 340px;
  }
  .preview__text {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 30px;
    max-width: 335px;
  }
  .preview__info {
    min-height: 367px;
  }
}

/* preview */

.blockquote {
  margin: 150px auto;
  max-width: 735px;
}

.blockquote__text {
  margin: 0;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .blockquote {
    margin: 120px auto 135px auto;
  }
}

@media screen and (max-width: 768px) {
  .blockquote {
    max-width: 730px;
  }
}

@media screen and (max-width: 480px) {
  .blockquote {
    margin: 60px auto;
    max-width: 395px;
  }
  .blockquote__text {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
}

@media screen and (max-width: 360px) {
  .blockquote {
    margin: 70px auto 80px auto;
  }
}

/* blockquote */

.assortment {
  margin-bottom: 150px;
}

.title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}

.assortment__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.assortment__item {
  max-width: 208px;
}

.assortment__item:not(:last-child) {
  margin-right: 40px;
}

.assortment__image {
  width: 100%;
  max-height: 208px;
  height: 100%;
  object-fit: cover;
}

.assortment__name {
  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .assortment {
    margin-bottom: 120px;
  }
  .assortment__title {
    margin-bottom: 30px;
  }
  .assortment__item:not(:last-child) {
    margin-right: -20px;
  }
}

@media screen and (max-width: 945px) {
  .assortment__item {
    max-width: 195px;
  }
  .assortment__image {
    max-height: 195px;
  }
}

@media screen and (max-width: 875px) {
  .assortment__item {
    max-width: 160px;
  }
  .assortment__image {
    max-height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .assortment__title {
    margin-bottom: 40px;
  }
  .assortment__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 0;
  }
  .assortment__item:not(:last-child) {
    margin-right: 0;
  }
  .assortment__item {
    max-width: 208px;
  }
  .assortment__image {
    max-height: 208px;
  }
}

@media screen and (max-width: 480px) {
  .assortment {
    margin-bottom: 60px;
  }
  .assortment__title {
    margin-bottom: 30px;
  }
  .assortment__list {
    gap: 0;
  }
}

@media screen and (max-width: 445px) {
  .assortment__item {
    max-width: 165px;
  }
  .assortment__image {
    max-height: 165px;
  }
}

@media screen and (max-width: 360px) {
  .assortment {
    margin-bottom: 80px;
  }
  .assortment__title {
    margin-bottom: 0;
    font-size: 24px;
  }
  .assortment__item {
    max-width: 155px;
  }
  .assortment__image {
    max-height: 155px;
  }
}

/* assortment */

.reviews {
  background-color: #f7f2ea;
  padding: 60px 0;
}

.reviews__list {
  font-family: "Open Sans", sans-serif;
  display: flex;
  gap: 0 26px;
}

.reviews__item {
  max-width: 280px;
}

.reviews__text p {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}

.reviews__name {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .reviews__list {
    justify-content: center;
  }
  .reviews__item:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .reviews {
    padding: 60px 0 82px 0;
  }
  .reviews__list {
    flex-wrap: wrap;
    gap: 30px 76px;
  }
  .reviews__item:nth-child(4) {
    display: inline-block;
  }
}

@media screen and (max-width: 665px) {
  .reviews__list {
    gap: 30px;
  }
  .reviews__item {
    max-width: 220px;
  }
}

@media screen and (max-width: 500px) {
  .reviews {
    padding: 50px 0;
  }
  .reviews__title {
    margin-bottom: 50px;
  }
  .reviews__list {
    gap: 30px 20px;
  }
  .reviews__item:nth-child(4) {
    order: 2;
  }
  .reviews__item:nth-child(3) {
    order: 3;
  }
  .reviews__item:nth-child(2) {
    order: 4;
  }
}

@media screen and (max-width: 360px) {
  .reviews__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .reviews__list {
    gap: 30px 0;
  }
  .reviews__item {
    max-width: 340px;
  }
  .reviews__item:nth-child(2),
  .reviews__item:nth-child(3) {
    display: none;
  }
}

/* reviews */

.main-blog {
  margin: 150px 0;
}

.main-blog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 58px;
  justify-content: center;
}

.main-blog__item {
  max-width: 542px;
  display: flex;
  gap: 0 20px;
}

.main-blog__item-image {
  width: 100%;
  object-fit: cover;
  max-width: 270px;
  max-height: 180px;
}

.main-blog__item-content {
  display: flex;
  flex-direction: column;
}

.main-blog__content-title {
  font-size: 24px;
  min-height: 86px;
  margin-bottom: 10px;
}

.main-blog__author,
.main-blog__item-link {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.main-blog__item-link {
  margin-top: auto;
}

.main-blog__item-link::after {
  content: url(/assets/images/blog-icon.svg);
  width: 5px;
  height: 10px;
  margin-left: 8px;
  position: absolute;
}

.main-blog__link {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding: 12px 41px;
  border: 1px solid #151618;
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
  max-width: 155px;
}

@media screen and (max-width: 1172px) {
  .main-blog__list {
    gap: 40px 20px;
  }
  .main-blog__item {
    max-width: 460px;
  }
  .main-blog__item-image {
    max-width: 230px;
    max-height: 152px;
  }
}

@media screen and (max-width: 1000px) {
  .main-blog {
    margin: 120px 0;
  }
  .main-blog__list {
    gap: 67px 20px;
  }
}

@media screen and (max-width: 970px) {
  .main-blog__list {
    gap: 30px 0;
  }
  .main-blog__item {
    max-width: 542px;
  }
  .main-blog__item:nth-child(even) {
    margin-left: 98px;
  }
  .main-blog__item-image {
    max-width: 270px;
    max-height: 180px;
  }
}

@media screen and (max-width: 570px) {
  .main-blog__item:nth-child(even) {
    margin-left: 0;
  }
  .main-blog__item-image {
    max-width: 230px;
  }
}

@media screen and (max-width: 480px) {
  .main-blog {
    margin: 60px 0;
  }
  .main-blog__item {
    max-width: 460px;
  }
  .main-blog__author {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 445px) {
  .main-blog__title {
    margin-bottom: 30px;
  }
  .main-blog__list {
    gap: 34px 0;
  }
  .main-blog__item {
    flex-direction: column;
    gap: 10px 0;
    max-height: 324px;
  }
  .main-blog__item-image {
    max-width: 270px;
  }
  .main-blog__content-title {
    max-width: 270px;
  }
  .main-blog__item:nth-child(3),
  .main-blog__item:nth-child(4) {
    display: none;
  }
  .main-blog__item-link {
    margin-top: auto;
  }
  .main-blog__link {
    margin-top: 30px;
  }
}

@media screen and (max-width: 360px) {
  .main-blog {
    margin: 50px 0;
  }
  .main-blog__title {
    font-size: 24px;
  }
}
/* main-blog */

.newsletter {
  background-color: #f7f2ea;
  background-image: url(/assets/images/mailing-list-background.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 100px 0;
}

.newsletter__title {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 50px;
}

.newsletter__wrapper {
  display: flex;
  justify-content: space-around;
  gap: 0 40px;
}

.newsletter__text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 50%;
}

.newsletter__form {
  max-width: 50%;
}

.newsletter-form__inner {
  display: flex;
  align-items: end;
  margin-bottom: 12px;
}

.newsletter__input {
  border: none;
  border-bottom: 1px solid #b8b58b;
  max-width: 440px;
  width: 100%;
  margin-right: 25px;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #b8b58b;
  outline: transparent;
}

.newsletter__input::placeholder {
  color: #b8b58b;
  padding: 3px 18px;
}

.newsletter__button {
  padding: 12px 41px;
  background-color: #ffffff;
  border: 1px solid #151618;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  max-width: 116px;
  max-height: 51px;
}

.newsletter__agreement {
  display: flex;
  align-items: baseline;
  gap: 0 10px;
}

.newsletter__agreement-checkbox {
  width: 10px;
  height: 10px;
  border: 1px solid #151618;
}

.newsletter__agreement-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

@media screen and (max-width: 1000px) {
  .newsletter {
    padding: 60px 0;
  }
  .newsletter__title {
    text-align: center;
    padding-bottom: 60px;
  }
  .newsletter__wrapper {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .newsletter__form {
    max-width: 580px;
  }
  .newsletter__text {
    max-width: 835px;
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .newsletter__text {
    max-width: 640px;
  }
}

@media screen and (max-width: 480px) {
  .newsletter {
    padding: 50px 0;
  }
  .newsletter__title {
    padding-bottom: 30px;
  }
  .newsletter__text {
    font-size: 13px;
    line-height: normal;
    max-width: 460px;
    margin-bottom: 30px;
  }
  .newsletter__agreement-text {
    max-width: 440px;
  }
  .newsletter__input {
    margin-right: 20px;
    max-width: 324px;
  }
}

@media screen and (max-width: 360px) {
  .newsletter__title {
    font-size: 24px;
  }
  .newsletter__text {
    max-width: 340px;
  }
  .newsletter__agreement-text {
    max-width: 320px;
  }
  .newsletter__input {
    max-width: 205px;
  }
}

/* newsletter */

.prioritise {
  margin: 150px 0;
}

.prioritise__list {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
}

.prioritise__item {
  display: flex;
  flex-direction: column;
  gap: 0 49px;
  align-items: center;
  max-width: 294px;
  width: 100%;
}

.prioritise__item-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.prioritise__item-text {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 40px;
}

.prioritise__item-image {
  max-width: 60px;
  width: 100%;
}

@media screen and (max-width: 1155px) {
  .prioritise {
    margin: 120px 0;
  }
  .prioritise__list {
    flex-wrap: wrap;
    gap: 30px 210px;
    justify-content: center;
  }
}

@media screen and (max-width: 830px) {
  .prioritise__list {
    gap: 30px 150px;
  }
}

@media screen and (max-width: 768px) {
  .prioritise__list {
    gap: 30px 134px;
  }
}

@media screen and (max-width: 480px) {
  .prioritise {
    margin: 60px 0;
  }
  .prioritise__title {
    margin-bottom: 30px;
  }
  .prioritise__list {
    gap: 50px 0;
  }
}

@media screen and (max-width: 360px) {
  .prioritise {
    margin: 50px 0;
  }
  .prioritise__title {
    font-size: 24px;
  }
  .prioritise__list {
    gap: 40px;
  }
  .prioritise__item-title {
    font-size: 20px;
    line-height: 30px;
  }
  .prioritise__item-text {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
  }
}

/* prioritise */

.footer {
  background-color: #f7f2ea;
  padding: 100px 0 18px 0;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.footer__columns {
  display: flex;
  font-size: 16px;
}

.footer__list-products {
  margin-right: 213px;
}

.footer__title {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 24px;
}

.footer__item {
  font-family: "Open Sans", sans-serif;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__list-about {
  margin-right: 155px;
}

.footer__inner {
  display: flex;
}

.footer__blockquote {
  font-family: "Open Sans", sans-serif;
  margin-right: 41px;
  display: flex;
  align-items: center;
}

.footer__blockquote blockquote {
  margin-bottom: 35px;
}

.footer__blockquote-text {
  font-size: 16px;
  font-style: italic;
  max-width: 270px;
  margin-bottom: 20px;
}

.footer__blockquote-author {
  font-size: 12px;
  max-width: 130px;
}

.footer__contacts-text {
  font-size: 13px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  max-width: 275px;
  margin-bottom: 20px;
}

.footer__contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding-right: 28px;
}

.footer__contacts-logo {
  display: inline-block;
  width: 56px;
  height: 90px;
}

.footer__logo {
  width: 100%;
}

.footer__contacts-item {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 21.5px;
}

.footer__contacts-item-icon {
  width: 22px;
  margin-right: 20px;
}

.footer__contacts-item-icon img {
  width: 100%;
}

.footer__socials-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__socials-item:not(:last-child) {
  margin-right: 20px;
}

.footer__socials {
  grid-column: 2;
}

.footer__socials-item-link {
  width: 22px;
  display: inline-block;
}

.footer__socials-icon {
  width: 100%;
}

.footer__icon {
  display: flex;
  align-items: center;
}

.footer__icon-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-right: 174px;
}

.footer__icon-list {
  display: flex;
  align-items: center;
}

.footer__icon-item:not(:last-child) {
  margin-right: 20px;
}

.footer__icon-image {
  width: 31px;
  height: 20px;
}

.footer__icon-image img {
  width: 100%;
}

.footer__contacts-list {
  margin: 0 0 0 auto;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 100px 0 10px 0;
  }
  .footer__wrapper {
    padding-bottom: 55px;
  }
  .footer__list-products {
    margin-right: 60px;
  }
  .footer__list-about {
    margin-right: 54px;
  }
  .footer__blockquote {
    align-items: start;
  }
  .footer__blockquote {
    margin-right: 55px;
  }
  .footer__icon-text {
    margin-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 50px 0 10px 0;
  }
  .footer__wrapper {
    justify-content: space-around;
  }
  .footer__list-products {
    margin-right: 52px;
  }
  .footer__list-about {
    margin-right: 66px;
  }
  .footer__contacts-wrapper {
    gap: 0;
  }
  .footer__contacts-logo {
    margin-right: 10px;
  }
  .footer__contacts-item:not(:last-child) {
    margin-bottom: 11px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__blockquote {
    margin-right: 0;
  }
  .footer__blockquote blockquote {
    margin-bottom: 50px;
  }
  .footer__socials {
    margin-top: 30px;
  }
  .footer__icon-text {
    padding-left: 27px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 570px) {
  .footer__list-products,
  .footer__list-about {
    margin-right: 30px;
  }
  .footer__wrapper {
    justify-content: space-between;
  }

  .footer__blockquote-text {
    max-width: 200px;
  }
  .footer__contacts-text {
    max-width: 195px;
  }
}

@media screen and (max-width: 500px) {
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__columns {
    margin-bottom: 50px;
  }
  .footer__title {
    margin-bottom: 30px;
  }
  .footer__list-products {
    margin-right: 133px;
  }
  .footer__list-about {
    margin-right: 0;
  }
  .footer__blockquote-text {
    max-width: 460px;
    margin-bottom: 10px;
  }
  .footer__blockquote-author {
    max-width: 298px;
  }
  .footer__title-contacts {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__contacts-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 27px;
    padding-right: 34px;
  }
  .footer__contacts-text {
    max-width: 460px;
    text-align: center;
  }
  .footer__socials {
    grid-column: 3;
    margin-top: 12px;
  }
  .footer__icon {
    display: flex;
    justify-content: space-between;
  }
  .footer__icon-text {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .footer__contacts-wrapper {
    grid-template-columns: repeat(2, min-content);
    justify-content: space-around;
  }
  .footer__socials {
    grid-column: 2;
  }
}

@media screen and (max-width: 360px) {
  .footer__columns {
    margin-bottom: 40px;
  }
  .footer__list-products {
    margin-right: 94px;
  }
  .footer__blockquote-text {
    max-width: 340px;
  }
  .footer__blockquote-author {
    min-width: 220px;
  }
  .footer__blockquote blockquote {
    margin-bottom: 40px;
  }
  .footer__title-contacts {
    margin-bottom: 10px;
  }
  .footer__contacts-wrapper {
    justify-content: center;
    gap: 40px 27px;
    padding-right: 14px;
  }
  .footer__contacts-text {
    max-width: 350px;
    margin-bottom: 10px;
  }
  .footer__contacts-item-icon {
    margin-right: 10px;
  }
  .footer__socials {
    grid-column: span 2;
  }
}

/* footer */
