* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #151618;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}

cite {
  font-style: normal;
}

body {
  font-family: "Cormorant", sans-serif;
  color: #151618;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
}

.header {
  font-size: 18px;
  padding: 30px 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  margin: auto 235px auto 0;
  padding-bottom: 37px;
  text-align: center;
}

.logo__link {
  max-width: 68.5px;
  max-height: 85px;
  overflow: hidden;
}

.logo__image {
  width: 100%;
}

.logo__text {
  line-height: normal;
  font-family: "IM Fell Great Primer SC", serif;
}

.menu {
  display: flex;
  align-items: center;
  padding: 58px 0;
}
.menu__list {
  padding: 0;
  margin: 0;
  display: flex;
}

.menu__item {
  text-align: justify;
  margin-right: 65px;
}

.menu__item:last-child {
  margin-right: 125px;
}

.menu__link {
  text-decoration: none;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
}

.user-actions {
  display: flex;
  margin: 0;
  padding: 58px 0;
}

.user-actions__item {
  margin-right: 20px;
}

.user-actions__item:last-child {
  margin-left: 100px;
}

.preview {
  background-image: url("/assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.preview__info {
  color: #ffffff;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.preview__title {
  font-size: 60px;
  max-width: 790px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 60px;
}

.preview__text {
  max-width: 558px;
  font-weight: 400;
  margin-bottom: 48px;
}

.blockquote {
  margin: 150px auto;
  max-width: 750px;
}

.blockquote__wrapper {
  margin: 0;
}

.blockquote__text {
  margin: 0;
  font-size: 40px;
  font-style: italic;
  text-align: center;
}

.assortment {
  margin-bottom: 150px;
}

.assortment__title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.assortment__list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  text-align: center;
}

.assortment__item {
  overflow: hidden;
  max-width: 208px;
}

.assortment__item:not(:last-child) {
  margin-right: 40px;
}

.assortment__image {
  width: 100%;
  max-height: 208px;
  height: 100%;
  object-fit: cover;
}

.assortment__name {
  margin-top: 10px;
}

.reviews {
  background-color: #f7f2ea;
  padding: 60px 0;
}

.reviews__title,
.main-blog__title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 60px;
}

.reviews__list {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
}

.reviews__item {
  max-width: 280px;
}

.reviews__item:not(:last-child) {
  margin-right: 26px;
}

.reviews__text p {
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 10px;
}

.reviews__name {
  font-size: 20px;
  font-weight: 600;
}

.main-blog {
  margin: 150px 0;
}

.main-blog__title {
  font-weight: 400;
}

.main-blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 40px;
}

.main-blog__item {
  display: flex;
  gap: 0 20px;
}

.main-blog__item-image {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  max-width: 270px;
  max-height: 180px;
}
.main-blog__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-blog__content-title {
  font-weight: 400;
  margin-bottom: 10px;
}

.main-blog__author,
.main-blog__item-link {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.main-blog__item-link {
  margin-top: 37px;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.main-blog__item-link::after {
  content: url(/assets/images/blog-icon.svg);
  width: 5px;
  height: 10px;
  margin-left: 8px;
  position: absolute;
}

.main-blog__link {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding: 12px 41px;
  border: 1px solid #151618;
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
  max-width: 155px;
}

.newsletter {
  background-color: #f7f2ea;
  margin-bottom: 150px;
  background-image: url(/assets/images/mailing-list-background.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 100px 0;
}

.newsletter__title {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 50px;
}

.newsletter__wrapper {
  display: flex;
  justify-content: space-around;

  gap: 0 40px;
}

.newsletter__text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 50%;
}

.newsletter-form__inner {
  display: flex;
  align-items: end;
  margin-bottom: 15px;
}

.newsletter__input {
  border: none;
  border-bottom: 1px solid #b8b58b;
  max-width: 440px;
  width: 100%;
  margin-right: 25px;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #b8b58b;
  outline: transparent;
}

.newsletter__input::placeholder {
  color: #b8b58b;
  padding: 3px 18px;
}

.newsletter__button {
  padding: 12px 41px;
  background-color: #ffffff;
  border: 1px solid #151618;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  max-width: 116px;
  max-height: 51px;
}

.newsletter__agreement {
  display: flex;
  align-items: baseline;
}

.newsletter__agreement-checkbox {
  max-width: 10px;
  max-height: 10px;
}

.newsletter__agreement-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-left: 10px;
  max-width: 560px;
}
