p {
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Cormorant", serif;
  color: #151618;
}

.header {
  font-size: 18px;
  padding: 30px 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  flex-direction: column;
  margin: auto 235px auto 0;
  padding-bottom: 37px;
  text-align: center;
}

.logo__link {
  max-width: 68.5px;
  max-height: 85px;
  overflow: hidden;
}

.logo__image {
  width: 100%;
}

.logo__text {
  line-height: 21.5px;
  font-family: "IM Fell Great Primer SC", serif;
}

.menu {
  display: flex;
  align-items: center;
  padding: 58px 0;
}
.menu__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

.menu__item {
  text-align: justify;
  margin-right: 65px;
}

.menu__item:last-child {
  margin-right: 125px;
}

.menu__link {
  text-decoration: none;
  color: #151618;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
}

.user-actions {
  display: flex;
  margin: 0;
  padding: 58px 0;
}

.user-actions__item {
  list-style-type: none;
  margin-right: 20px;
}

.user-actions__item:last-child {
  margin-left: 100px;
}

.preview {
  background-image: url("/assets/images/background-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.preview__info {
  color: #ffffff;
  min-height: 500px;
  /* padding: 0 20px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.preview__title {
  font-size: 60px;
  max-width: 790px;
  margin-bottom: 20px;
  font-weight: 400;
}

.preview__text {
  font-size: 24px;
  max-width: 558px;
  font-weight: 400;
  margin-bottom: 48px;
}

.blockquote {
  margin: 150px auto;
  max-width: 704px;
}

.blockquote__wrapper {
  margin: 0;
}

.blockquote__text {
  margin: 0;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}
